@import "tailwindcss";
/* @import "tw-animate-css"; */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jetbrainsMono: var(--font-jetbrainsMono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-background text-foreground dark:bg-background dark:text-foreground;
  font-family: var(--font-jetbrainsMono);
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}
